<div id="ivkon" class="container">
    <div data-columns="1" id="i0yr6" class="row">

        <div data-column="1" class="cell" id="i1yrf">
            <h2 id="igc5m" class="section__title">Hey, I'm Von</h2>
            <div class="header__subtitle" id="ic288"><%= aboutDescription %></div>
            
            <div class="header__subtitle" id="i4pcmy"><%= aboutAppt %></div>
            
            <a href=<%= aboutURL %> id="iqhki4" class="button1"><%= aboutBtn %></a>
        </div>
        
        <div data-column="1" class="cell" id="idvfz">
            <img src=<%= aboutImg %> />
        </div>
    </div>
</div>