<div id="itdhl" class="container">
    <h2 class="section__title" id="ic1mt"><%= offersTitle %></h2>
    <div class="header__subtitle" id="ibyqn"><%= offersSubtitle %></div>
    <div data-columns="1" id="ibs6d" class="row">
        <div data-column="1" class="cell" id="idutj">
            <div data-columns="1" id="i67k8" class="row">
                <div data-column="1" class="cell" id="imfth">
                    <img id="ilnui" src=<%= offeroneImg %> />
                    <h3 id="i5hjk"><%= offeroneTitle %></h3>
                    <div id="idlvy"><%= offeroneDescription %><br>​
                    <div style="text-align: center;"><strong><%= offeroneDescadds %></strong></div>
                </div>
                    
                <a href=<%= offeroneURL %> id="ijho2c" class="button1"><%= offeroneBtn %></a>
            </div>
        </div>
    </div>
    
    <div data-column="1" class="cell" id="i7d2l">
        <div data-columns="1" id="iksfzh" class="row">
            <div data-column="1" class="cell" id="ih719">
                <img id="i8q9t" src=<%= offertwoImg %> />
                <h3 id="ixfti"><%= offertwoTitle %></h3>
                <div id="isd6b"><%= offertwoDescription %></div>
                <a href=<%= offertwoURL %> class="button1" id="ixzlvo"><%= offertwoBtn %></a>
            </div>
        </div>
    </div>
</div>

<div data-columns="1" id="i0udg8" class="row">
    <div data-column="1" class="cell"></div>
</div>

</div>