<div id="iksd5l" class="container">

    <h1 id="itynsj"><%= servicesTitle %></h1>
    <div id="iryzn9"><%= ServicesSubtitle %></div>

    <div data-columns="1" id="iwuadh" class="row">
        <div data-column="1" class="cell">
            <div data-columns="1" id="it5yk" class="row postcard">

                <div data-column="1" id="ifqz9k" class="cell">
                    <h4 id="imx1mm" class="postcard__title"><%= onlineTitle %></h4>
                    <div id="iq5mgk" class="postcard__subtitle"><%= onlineSubtitle %></div>
                    <div id="ie0y1j" class="postcard_content"><%= onlineDescription %></div>
                </div>

                <div data-column="1" id="i7w4wf" class="cell">
                    <img id="isx8y" src=<%= onlineImg %> class="postcard__image"/>
                </div>

            </div>
        </div>
        
        <div data-column="1" class="cell">
            <div data-columns="1" id="i2h63q" class="row postcard">

                <div data-column="1" id="ikno2m" class="cell">
                    <img id="i2xspb" src=<%= defenseImg %> class="postcard__image"/>
                </div>
                
                <div data-column="1" id="itb5h8" class="cell">
                    <h4 class="postcard__title" id="ivtjwz"><%= defenseTitle %></h4>
                    <div id="i84c2m" class="postcard__subtitle"><%= defenseSubtitle %></div>
                    <div id="iuxfni" class="postcard_content"><%= defenseDescription %></div>
                </div>
            
            </div>
        </div>
    </div>
    
    <div data-columns="1" id="iuc18m" class="row">
        <div data-column="1" class="cell">
            <div data-columns="1" id="isipzj" class="row postcard">

                <div data-column="1" id="i81fhm" class="cell">
                    <h4 class="postcard__title" id="i7u9ko"><%= personalTitle %></h4>
                    <div class="postcard__subtitle" id="ivfrv2"><%= personalSubtitle %></div>
                    <div class="postcard_content" id="ip9n2i"><%= personalDescription %></div>
                </div>
                
                <div data-column="1" id="i0hrnl" class="cell">
                    <img id="inbytg" src=<%= personalImg %> class="postcard__image"/>
                </div>
            
            </div>
        </div>
        
        <div data-column="1" class="cell">
            <div data-columns="1" id="ic7cnr" class="row postcard">

                <div data-column="1" id="icnced" class="cell">
                    <img id="ittwyq" src=<%= bjjImg %> class="postcard__image"/>
                </div>
                
                <div data-column="1" id="ieipek" class="cell">
                    <h4 class="postcard__title" id="ixobh2"><%= bjjTitle %></h4>
                    <div id="inywr2" class="postcard__subtitle"><%= bjjSubtitle %></div>
                    <div id="iwpicy" class="postcard_content"><%= bjjDescription %></div>
                </div>
            
            </div>
        </div>
    </div>
</div>