  
<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head.ejs') %>
</head>

<body>
  <section id="irju-pg">

    <%- include('../partials/cover-pg.ejs') %>

  </section>
    
    <%- include('../partials/header.ejs') %>

    <section id="i78wp">
        <div id="ivkon" class="container">

            <div data-columns="1" class="row" id="i6qnz">
                <div data-column="1" class="cell" id="iwqgt">
                    <span class="brand-name" id="ip4lg"><%= pageDesc %></span>
                </div>
            </div>
            
            <div data-columns="1" id="i0yr6" class="row">
                <div data-column="1" id="i1yrf" class="cell">
                    <a href=<%= emailURL %> class="button1" id="iimdw"><%= emailBtn %></a>
                </div>
                
                <div data-column="1" id="idvfz" class="cell">
                    <a href=<%= textURL %> id="iqhki4" class="button1"><%= textBtn %></a>
                </div>
            </div>
        </div>
    </section>

  <footer class="footer" id="iyev1r">

    <%- include('../partials/footer.ejs') %>

  </footer>

  <script>var items = document.querySelectorAll('#iy7hy');
    for (var i = 0, len = items.length; i < len; i++) {
      (function(){var e,n=0,a=function(){var e,n=document.createElement("void"),a={transition:"transitionend",OTransition:"oTransitionEnd",MozTransition:"transitionend",WebkitTransition:"webkitTransitionEnd"};for(e in a)if(void 0!==n.style[e])return a[e]}(),t=function(e){var n=window.getComputedStyle(e),a=n.display,t=(n.position,n.visibility,n.height,parseInt(n["max-height"]));if("none"!==a&&"0"!==t)return e.offsetHeight;e.style.height="auto",e.style.display="block",e.style.position="absolute",e.style.visibility="hidden";var r=e.offsetHeight;return e.style.height="",e.style.display="",e.style.position="",e.style.visibility="",r},r=function(e){n=1;var a=t(e),r=e.style;r.display="block",r.transition="max-height 0.25s ease-in-out",r.overflowY="hidden",""==r["max-height"]&&(r["max-height"]=0),0==parseInt(r["max-height"])?(r["max-height"]="0",setTimeout(function(){r["max-height"]=a+"px"},10)):r["max-height"]="0"},i=function(t){if(t.preventDefault(),!n){var i=this.closest("[data-gjs=navbar]"),l=i.querySelector("[data-gjs=navbar-items]");r(l),e||(l.addEventListener(a,function(){n=0;var e=l.style;0==parseInt(e["max-height"])&&(e.display="",e["max-height"]="")}),e=1)}};"gjs-collapse"in this||this.addEventListener("click",i),this["gjs-collapse"]=1}.bind(items[i]))();
    }</script>
    
    <style>
a.page-brand-badge {
    border-radius: 3px !important;
    background-color: white !important;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.1);
    padding: 5px 7px !important;
    font-family: Helvetica, sans-serif !important;
    font-size: 12px !important;
    text-decoration: none !important;
    color: #555 !important;
    transition: box-shadow 0.25s !important;
}
a.page-brand-badge:hover {
    box-shadow: 0 0 0 1px rgba(0,0,0,0.1), 0 3px 10px rgba(0,0,0,0.1);
}

</style>
<a href="https://grapedrop.com" target="_blank" class="page-brand-badge"
style="bottom: 10px !important; left: 10px !important; display: block !important; opacity: 1 !important; visibility: visible !important; position: fixed !important;">
<svg class="logo-circ" viewBox="0 0 500 500" version="1.1" xmlns="http://www.w3.org/2000/svg" style="width:13px; height:13px; vertical-align: middle; margin-right: 3px; margin-top: -2px;">
        <defs>
            <linearGradient x1="0%" y1="0%" x2="100%" y2="100%" id="linearGradient-2">
                <stop stop-color="#EAB3D5" offset="0%"></stop>
                <stop stop-color="#D06E9A" offset="100%"></stop>
            </linearGradient>
        </defs>
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g>
                <circle fill="url(#linearGradient-2)" cx="251" cy="251" r="250"></circle>
                <path d="M244.664082,104.558858 L162.460627,248.205767 C145.186418,278.574619 143.852224,317.189676 162.460627,349.706818 C190.433829,398.588565 252.659,415.493783 301.444357,387.464755 C350.229714,359.436081 367.101474,297.087868 339.127919,248.205413 L256.924464,104.558858 C254.209082,99.813714 247.379111,99.813714 244.664082,104.558858 Z" fill="#FFFFFF" fill-rule="nonzero"></path>
            </g>
        </g>
    </svg>
    Made with Grapedrop
</a>

</body>
</html>